@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}


body{
    background: linear-gradient(120deg, #cfe3f4 20.69%, #cfc2f4 50.19%,#8be7de 69.69%);
    font-family:Poppins,sans-serif;
    font-weight:400;
    font-size:16px;
    line-height:1.625;
    color:#666;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

a{
    text-decoration: none;
}
/* body of Html */
.hero{
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding: auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
/* Image in html */
.logo{
    border-radius: 50%;
    position: static;
    max-width:100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #fd4766;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}
/* adding Content  */
.content{

    margin-top: 60px;
    position: absolute;
    top: 10%;
    left: 25%;
    text-align: center;
}
.content .title{
    color: #1f1f25;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-left: auto;
    margin-top: 350px;
    margin-right: 100px;
    margin-bottom: 0px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content h1 {
    text-align:center;
    margin-right: 100px;
    color: #fd4766;
}
.content p{
    position: static;
    text-align: left;
    margin-right: auto;
    width: 800px;
    color: rgb(234, 230, 237);
    margin-top: 30px;
    margin-bottom: 30px;
}
.sect{
    background-color: linear-gradient(120deg, #cfe3f4 20.69%, #cfc2f4 50.19%,#8be7de 69.69%);
    position: relative;
    font-size: 20px;
    height: 50px;
    padding: 10px 20px;
}
.sect h1{
    color: #fd4766;
    text-align: left;
}
.sect p{
    color: #1d1d24;
}
/* End of Body*/

/* Starting of footer  */
footer{
    width:100%;
    height: 100px;
    margin-top: 500px;
    background: lightblue;
    z-index:1;
    position:relative;
    text-align:center
}
footer ul a{
    cursor: pointer;
    color: #1c99fe;
}
a:hover {
    background-color:gray;
  }

 p{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: middle;
    position: relative;
    
}
.fa-twitter {
    
    color: blue;
    border-radius: 50%;
   
}

.fa-linkedin{
   
    color: blue;
    border-radius: 50%;
    
}
.fa-instagram {
    size: 100px;
    color: rgb(219, 110, 216);
    border-radius: 50%;
  
  }
  .fa-github{
    color: black;
    border-radius: 50%;
  
  }
  .fa-envelope{
    color: crimson;
    border-radius: 50%;
   
  }
  .fa-whatsapp {
    color: green;
    border-radius: 50%;
  }
footer .fa {
    margin-top: 10px;
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 7px 7px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 10px ;
  }
  /* End of footer */